<h1>Administration</h1>

<ul>
  <li><%= link_to 'Manage competitions' %></li>
  <li><%= link_to 'Manage teams', admin_teams_path %></li>
  <li><%= link_to 'Manage memberships', admin_memberships_path %></li>
</ul>